<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="and.drew.nkhukumanagement.FlockApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/chicken_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NkhukuManagement.SplashScreen"
        tools:targetApi="31">
        <activity
            android:name="and.drew.nkhukumanagement.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NkhukuManagement.SplashScreen"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.drew.nkhuku.com"
                    android:scheme="nkhuku" />
            </intent-filter>
        </activity>
        <receiver android:name="and.drew.nkhukumanagement.utils.AlarmReceiver" />
    </application>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

</manifest>